

h1{
  color: blue;
}

.ul {
  color: lightblue;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: blue;
}

.navbar-header {
  background-color: pink;
}

.footer {
  border-top: 1px solid #444;
  padding-top: 20px;
  margin-top: 20px;
  color: #999
}

.p {
  text-align: center;
  padding-top: 120px;
}

.p a {
  text-decoration: underline;
  color:green;
}

img {
  width: 95%;
  height: 180px;
  border: 2px solid white;
  box-shadow: 8px 2px 2px #999;
  margin: 10px 10px 10px 3px;
}
