p {
  color: purple;
  font-family: fantasy;
  text-align: center;
  padding: 1px 1px 1px 10px;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: green;
}

.navbar-header {
  background-color: pink;
}


.footer {
  padding-top: 2px;
  margin-top: 2px;
  background-color: lightblue;
}

p a {
  text-decoration: underline;
  color:green;
}

img {
  float: left;
  width: 317px;
  height: 260px;
  box-shadow: 8px 2px 4px #999;
  margin: 2px 30px 7px 6px;
}

h1 {
  font-style: oblique;
}
